/* ##### basic HTML5 tags ##### */
/*                              */
body {
    font-size: 18px;
    margin: 0;
    background-color: #E8EDEC;
    /*  ##### white-grey with slight blue tint #####  */
    background-image: url("../img/glenn-carstens-peters-112923.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

nav {
    height: 50px;
    background-color: #191900;
    /* ##### warm dark-grey ##### */
    font-weight: bold;
}

main {
    margin: 30px;
}

section {
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #333;
    color: #DDD;
}



/*    CLASSES ADAPTEE */

.h600px {
    min-height: 600px;
}

.btnup {
    background: rgba(200, 200, 200, 0.3);
}



/*       CLASSES CARD PORTAIL RAGT      */

.card {
    width: 300px;
    height: 230px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card_image {
    width: 300px;
    height: 200px;  
    background: rgba(180,180,200, 0.6);
    overflow: hidden;
}
.card_image img {
    width: 300px;
    height: 200px; 
}

.card_text {
    width:  300px;
    height: 30px;
    font-size: 1,2em;
    color: #000000;
    text-align: center;
    overflow: hidden;
}




/*    CLASSES FOR TESTING     */

.pink {
    background-color: pink;
}

.green {
    background-color: green;
}

.pair {
    background-color: pink;
}

.impair {
    background-color: green;
}




/*           SIEGE SOCIAL     */

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.bourran{
    width: 300px;
    height: 200px;
    background: rgba(180,180,200, 0.6);
    overflow: hidden;
}
/*.container{
    padding: 2px 16px;
}*/
.row{
    justify-content: space-between;
}
