/* ##### basic HTML5 tags ##### */

body {
    font-size: 18px;
    margin: 0;
    background-color: #E8EDEC;
    /*  ##### white-grey with slight blue tint #####  */
    background-image: url("../img/glenn-carstens-peters-112923.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

nav {
    height: 50px;
    background-color: #191900;
    /* ##### warm dark-grey ##### */
    font-weight: bold;
}

main {
    margin: 30px;
}

section {
    min-height: 600px;
    margin-bottom: 20px;
    background-color: rgba(255,255,255, 0.2);
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #333;
    color: #DDD;
}






/*    CLASSES FOR TESTING     */

.pink {
    background-color: pink;
}

.green {
    background-color: green;
}

.pair {
    background-color: pink;
}

.impair {
    background-color: green;
}